.textCenter{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    color: #CF0A0A;
}

.wordSpace20{
    word-spacing: 20px;
}
.wordSpace0{
    word-spacing: 00px;
}

body{
    background-color: #B9FFF8;
}